html, body {
	position: relative;
	width: 100%;
	height: 100%;
}


body {
	background: #fff;
	color: #444;
	font-family: 'News Cycle', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .1em;
}



.axis-label text {
	font-size: 10px;
}

.chrt-annotation {
	font-size: 10px;
	line-height: 1;
	transform: translate3d(0, calc(-100% - 5px), 0);
}

.chrt-annotation span span {
	text-decoration: underline;
}